/* --- Base Folder Styles (Shared) --- */
.folder {
  margin: 1em 0;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  overflow: hidden;
}

.folder-header {
  padding: .75rem 1.25rem;
  border-bottom: 1px solid #dee2e6;
  cursor: pointer;
  display: flex;
  align-content: center;
}

.folder-title-container {
  flex: 1 1 auto;
}

.folder-title-container p {
  margin: 0;
  padding: 0;
}

.folder-body-container {
  padding: 1.25rem;
}

.folder-header[aria-expanded="false"] {
  border-bottom: none;
}

/* --- Feature Folder Styles --- */
.feature {
  border-left-width: .25rem;
  border-left-color: #28a745; /* Using the old 'tip' color for now */
}

.feature .folder-header {
  background-color: rgba(40, 167, 69, 0.1);
}

.feature .folder-title-container {
  font-size: 1.1rem;
  font-weight: 500;
}

/* --- Acceptance Folder Styles --- */
.acceptance {
  border-left-width: 1px;
  border-left-color: #dee2e6;
  box-shadow: none;
}

.acceptance .folder-header {
  background-color: #f7f7f9; /* Neutral gray background */
}

.acceptance .folder-title-container {
  font-size: 1rem;
  font-weight: normal;
}


/* --- Collapse Arrow (Shared) --- */
.folder-btn-toggle {
  display: inline-block;
  border: 0;
  padding: .25rem 0rem .25rem .25rem;
  float: right;
  line-height: 1;
}

.folder-toggle {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: center;
  transition: transform .2s ease-in-out;
}

.folder-header[aria-expanded="true"] .folder-toggle {
  transform: rotate(90deg);
}

.acceptance img {
  max-height: 400px;
}
