/* study overview */

#study_overview-site_overview_table th:nth-child(5),
#study_overview-site_overview_table td:nth-child(5) {
    background: #ffccc74d !important;
}
#study_overview-site_overview_table th:nth-child(6),
#study_overview-site_overview_table td:nth-child(6) {
    background: #fffdf1 !important;
}
#study_overview-site_overview_table .selected-metric {
    background: #deebf7;
}

/* site details */

#site_details-participants td:nth-child(1) {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.nav-pills .nav-link.active, pills > li > a.active {
    /* #0dcaf0 !important; */
    background-color: var(--bs-light);
    color: var(--bs-dark);
    font-weight: 500;
 /*   text-decoration: underline;
    text-decoration-color: var(--bs-dark);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px; */
}

.nav-pills .nav-link, .nav-pills .nav-tabs > li {
    /* #0dcaf0 !important; */
    background-color: var(--bs-light);
    font-weight: 500;
    color: var(--bs-secondary);
}

.placeholder {
    background-color: var(--bs-info);
    font-weight: 500;
    color: black !important;
    width: 100%;
}

.navbar-collapse, .nav-item > li {
    font-weight: 500;
}

#primary_nav_bar {
     margin-left: 7.5rem
}

/* Column for left hand side inputs */

@media (min-width: 1250px) {
  .input-div {
    min-width: 300px;
    max-width: 4300px;
  }
}



