#site_details-participants td:nth-child(1) {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.nav-pills .nav-link.active, pills > li > a.active {
    /* #0dcaf0 !important; */
    background-color: var(--bs-light);
    color: var(--bs-dark);
    font-weight: 500;
 /*   text-decoration: underline;
    text-decoration-color: var(--bs-dark);
    text-decoration-thickness: 2px;
    text-underline-offset: 8px; */
}

.nav-pills .nav-link, .nav-pills .nav-tabs > li {
    /* #0dcaf0 !important; */
    background-color: var(--bs-light);
    font-weight: 500;
    color: var(--bs-secondary);
}

.placeholder {
    background-color: var(--bs-info);
    font-weight: 500;
    color: black !important;
    width: 100%;
}

.navbar-collapse, .nav-item > li {
    font-weight: 500;
}

#primary_nav_bar {
     margin-left: 7.5rem
}

.card {
  border-top: solid #0dcaf0;
}

.table-deemphasize {
  opacity: .55;
}

.overflow-on {
  overflow: visible !important;
}

#metric_details-results tbody > tr {
    cursor: pointer;
}

#top-spacer {
  padding-top: 3.5rem;
  background-color: #FFFFFF;
}

#sidebar {
  padding-top: 0.5rem;
}

.badge {
  font-size: 1em;
  padding: 0.55em;
}

.badge-red {
  background-color: #FFCCCC;
}

.badge-amber {
  background-color: #FFCC99;
}

.metadata-list-item {
  display: flex;
  justify-content: space-between;
}

.metadata-list-item-label {
  text-align: left;
  white-space: nowrap;
}

.metadata-list-item-spacer {
  border-bottom: 1px dotted;
  width: 95%;
  margin-bottom: .4em;
  margin-right: .4em;
  margin-left: .4em;
}
.metadata-list-item-value {
  text-align: right;
  white-space: nowrap;
}
