.inline-select .form-group {
  margin-bottom: 0;
  display: inline-flex; /* Ensure it grows to fit its contents */
  align-items: center;  /* Keep label and input aligned */
  gap: 0.5rem; /* Space between label and input */
}

.inline-select .vscomp-dropbox {
  width: fit-content;
}

.inline-select .vscomp-dropbox-container {
  z-index: 100 !important;
  width: fit-content;
  max-width: fit-content !important;
}

.inline-select .control-label {
  margin-bottom: 0 !important;
  white-space: nowrap;
}

.inline-select .virtual-select {
  min-width: max-content;
}
