.label-key-container {
  line-height: 36px;
}

.inline-select .btn {
  font-weight: bold;
  padding: 4px;
  text-wrap: none;
}

.inline-select .disabled {
  color: black;
  background-color: white;
  border-color: black;
  font-style: italic;
  font-weight: normal;
}

.btn-label-key-study {
  color: #1b9e77;
  background-color: white;
  border-color: black;
}

.btn-check:checked + .btn-label-key-study {
  color: white;
  background-color: #1b9e77;
  border-color: #1b9e77;
}

.btn-label-key-group {
  color: #d95f02;
  background-color: white;
  border-color: black;
}

.btn-check:checked + .btn-label-key-group {
  color: white;
  background-color: #d95f02;
  border-color: #d95f02;
}

.btn-label-key-participant {
  color: #7570b3;
  background-color: white;
  border-color: black;
}

.btn-check:checked + .btn-label-key-participant {
  color: white;
  background-color: #7570b3;
  border-color: #7570b3;
}
