.navbar-extras .form-group {
  margin-bottom: 0;
  display: inline-flex; /* Ensure it grows to fit its contents */
  align-items: center;  /* Keep label and input aligned */
  gap: 0.5rem; /* Space between label and input */
}

.navbar-extras .vscomp-dropbox-container {
  z-index: 100 !important;
}

.navbar-extras .control-label {
  margin-bottom: 0 !important;
  white-space: nowrap;
}

.navbar-extras .virtual-select {
  min-width: 100px;
}

.navbar-extras button {
  padding-left: 8px;
  padding-right: 8px;
  padding-block-end: 4px;
  padding-block-start: 4px;
}
