.navbar-extras {
  align-items: center;
  white-space: nowrap;
  overflow: visible !important;
  z-index: 100;
}

.navbar-extras .form-group {
  margin-bottom: 0px;
}

#custom-navbar-extra {
  margin-bottom: 0px;
}
